<% IssueRelation %>
<% relation_type ||= nil %>
<div class="issue">
	<h2> <%= relation_type %> <%= issue.tracker %> #<%= issue.id %> - <%= issue.subject %></h2>
	<table width='100%'>
		<tr>
			<td class='titulo'>Inicio:</td><td width='50%'><%= format_date(issue.start_date) %></td>
			<td class='titulo'>Situação:</td><td width='50%'><%= issue.status %></td>
		</tr>
		<tr>
			<td class='titulo'>Conclusão:</td><td><%= format_date(issue.due_date) %></td>
			<td class='titulo'>Responsável:</td><td><%= issue.assigned_to %></td>
		</tr>
	<% unless issue.description.blank? %>	
		<tr>
			<td class='titulo'>Descrição:</td>
			<td colspan='3'><%= textilizable(issue, :description) %></td>
		</tr>
	<% end %>
	</table>
	
	
	<% 
	 	time_entries = issue.time_entries.where(spent_on: (params[:history][:start_date]..params[:history][:end_date]))
		journals = issue.journals.where(private_notes: false, created_on: (params[:history][:start_date]..params[:history][:end_date]))
	 %>
	
	<%= render(partial: 'issue_time_entries', locals: { issue: issue, time_entries: time_entries }) if time_entries.any? %>
	<%= render(partial: 'issue_checklist', locals:{ issue: issue }) if issue.respond_to?(:checklist) && issue.checklist.any? %>
	<%= render(partial: 'issue_history', locals:{ issue: issue, journals: journals }) if journals.any? %>
	<%= render(partial: 'issue_related_issues', locals:{ issue: issue }) unless relation_type || issue.relations.empty? %>
</div>