<% IssueRelation %>
<% relation_type ||= nil %>
<% children ||= nil %>
<fieldset class="issue" issue="<%= issue.id %>">
	<legend><h2> <%= relation_type %> <%= issue.tracker %> #<%= issue.id %> - <%= issue.subject %></h2></legend>
	<table class='issue_header' width='100%'>
		<tr>
			<td><b>Inicio:      </b><%= format_date(issue.start_date) %></td>
			<td><b>Situação:    </b><%= issue.status %>                 </td>
			<td><b>Conclusão:   </b><%= format_date(issue.due_date) %> ( <%= issue.done_ratio %>% ) </td>
			<td><b>Responsável: </b><%= issue.assigned_to %>            </td>
		</tr>
	<% unless issue.description.blank? %>	
		<tr>
			<td colspan='4'>
				<b>Descrição:</b><%= textilizable(issue, :description) %>
			</td>
		</tr>
	<% end %>
	</table>
	
	
	<% 
	 	time_entries = issue.time_entries.where(:spent_on => (params[:history][:start_date]..params[:history][:end_date]))
		journals = issue.journals.where(:private_notes => false, :created_on => (params[:history][:start_date]..params[:history][:end_date]))

		if params[:issue][:only_my_records] 
			time_entries = time_entries.where(:user_id => User.current)
			journals = journals.where(:user_id => User.current)
		end
	 %>
	 <%= render(:partial => 'issue_time_entries',   :locals => { :issue => issue, :time_entries => time_entries }) if time_entries.any? %>
	<%= render(:partial => 'issue_checklist',      :locals => { :issue => issue }) if issue.respond_to?(:checklist) && issue.checklist.any? %>
	<%= render(:partial => 'issue_history',        :locals => { :issue => issue, :journals => journals }) if journals.any? %>
	<%# render(:partial => 'issue_related_issues', :locals => { :issue => issue }) unless relation_type || issue.relations.empty? %>
	
	<% if children && issue.children.any? %>
	
		<% issue.children.each do |child| %>
			<%= render(:partial => 'issue', :locals => {:issue => child, :children => true}) %>
			</fieldset>
		<% end %>
	<% end %>
	
<%# nao fecha o fieldset de propósito %>