<h1>Impress찾o de relat처rio de OS</h1>

<fieldset>
	<legend>Filtros</legend>
	<%= form_for(:issue, :url => {:controller => 'relatorio_os', :action => 'show', :project_id => @project.id}) do |f| %>
	
		Imprimir o relat처rio da tarefa <%= f.text_field(:id, :size => 3, :value => (params[:issue_id] || '')) %>
		<br>
		Filtrar hist처rico entre os dias: 
			<%= text_field_tag :history_start_date, format_date(Date.today), :name => 'history[start_date]', :size => 10 %><%= calendar_for('history_start_date') %>
		e: 
			<%= text_field_tag :history_end_date, format_date(Date.today), :name => 'history[end_date]', :size => 10 %><%= calendar_for('history_end_date') %>
		<br>
		<%= f.submit('Imprimir') %>
		
	<% end %>
</fieldset>


<script type="text/javascript" charset="utf-8">
	$('#issues_start_id').focus();
</script>