<html>
	<head>
		<title>Relatório de OS - <%= @issue.tracker %> #<%= @issue.id %> - <%= @issue.subject %></title>
		<%= render('estilo') %>
	</head>
	<body>
			<%= render('header') %>
			<div class="issues">
				
				<%= render(:partial => 'issue', :collection => @issue.ancestors, :as => :issue) %>
				
				<%= render(:partial => 'issue', :locals => {:issue => @issue, :children => true}) %>
				
				<%= ("</fieldset>"*@fieldset_abertos).html_safe %>
				<% @fieldset_abertos = 0 %>
			</div>
			
			<%= render('assinatura') %>
	</body>
</html>